#pageContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

#logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallText {
  font-size: 15px;
  color: #c1c1c1;
}

.form-label {
  font-family: 'professional',Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #7e8394;
}

.form-input {
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  color: #c1c1c1 !important;
  background-color: #181a1f;
  padding: 10px !important;
}

.form-input:hover {
  border: 1px solid #02b9b4;
}

.form-input:focus {
  border: 1px solid #02b9b4;
  background-color: #181a1f;
}

.form-select-input {
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  background-color: #181a1f;
  padding: 10px !important;
  color: #c1c1c1 !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.form-select-input option{
  font-weight: 500;
}

.form-select-input option:hover{
  box-shadow: 0 0 10px 100px #c21111 inset !important;
}

.form-select-input:hover {
  border: 1px solid #02b9b4;
}

.form-select-input:focus {
  border: 1px solid #02b9b4;
  background-color: #181a1f;
}

.navGroup {
  align-items: center;
  justify-content: center;
  background-color: #181a1f;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  padding: 10px;
}

.nav-item {
  margin: 0 auto;
  font-family: 'professional',Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #282c34;
  border-radius: 50px;
  margin-right: 10px;
  min-width: 30%;
}

.nav-link {
  width: 100%;
  color: #c1c1c1;
}

.nav-link:hover {
  color: #02b9b4;
}

.nav-link:focus {
  color: #02b9b4;
}

#apiFieldsForm .form-input {
  border: 0px;
  background-color: #282c34;
}

#apiFieldsForm .input-group-addon {
  background-color: #181a1f;
  width: 4px !important;
}

#apiFieldsForm .remove-input-btn {
  border-left: 3px solid #181a1f;
  color: #c21111 !important;
  border-radius: 0px;
}

#apiFieldsForm .remove-input-btn:hover {
  border-left: 3px solid red;
  color: red !important;
}

#apiFieldsForm .remove-input-btn:focus {
  border-left: 3px solid red;
  color: red !important;
}

#apiFieldsForm .header {
  background-color: #0f1013;
  border-radius: 0px;
}

#apiFieldsForm .add-input-btn {
  background-color: #181a1f !important;
  border: 1px solid #0f1013;
  border-radius: 0px;
  color: #48a4bd !important;
  font-size: 18px;
  margin-top: -10px; /* This is quick hack, need to resolve the spacing issue origin */
}

#apiFieldsForm .add-input-btn:hover {
  cursor: pointer !important;
  border-left: 3px solid #02b9b4;
  color: #02b9b4 !important;
}

#apiFieldsForm .add-input-btn:focus {
  border-left: 3px solid #02b9b4;
  color: #02b9b4 !important;
}

.form-textarea,
.form-textarea:focus {
  background-color: #181a1f;
  border: 1px solid black;
  border-radius: 0px;
  color: #c1c1c1 !important;
}

#responseContainer {
  border-width: 2px;
  border-left: 3px solid #02b9b4;
  padding: 10px;
}

#responseOverview {
  font-family: 'professional',Arial, Helvetica, sans-serif;
  display: flex;
}

#responseStatusBox {
  display: flex;
  flex-direction: column;
}

#responseTabs {
  font-family: 'professional',Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.verticalBreak {
  width: 2px;
  background-color: #02b9b4;
}

.horizontalBreak {
  color: #c1c1c1;
}

.response-btn {
  min-width: 100px !important;
  margin-right: 20px;
}

#browserDiv {
  background-color: #0f1013;
  border-radius: 20px;
  border: 1px solid #282c34;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
}

#waitingContainer {
  font-family: 'professional',Arial, Helvetica, sans-serif;
  background-color: #181a1f;
  padding: 5px;
  text-align: center;
  font-size: 24px;
  margin-top: 35px;
  border-radius: 8px;
  border: 1px solid #0f1013;
}

#authContainer {
  padding: 15px;
  background-color: #181a1f;
}

#authBox {
  display: flex;
  justify-content: center;
  background-color: #181a1f;
}

.btn-auth {
  border: 1px solid #c1c1c1;
  color: #c1c1c1;
  text-align: center;
  font-size: 16px;
  margin-right: 20px;
  width: 150px;
  border-radius: 20px;
}

.btn-auth:hover {
  border: 1px solid white;
}

.btn-auth:focus {
  border: 1px solid #02b9b4;
}

.auth-form-input {
  width: 60%;
}

#responseActionsBox {
  display: flex;
  column-gap: 10px;
}

#generateCodeSelect, #apiResponseSelect {
  background-color: #181a1f !important;
  color: #02b9b4;
  border: 0px;
  padding: 10;
  margin-bottom: 20px;
  width: max-content;
}

#generateCodeSelect option,
#apiResponseSelect option {
  margin: 40px;
  background: #282c34;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}